@using Domain.Entities

<div class="btn btn-group">

        @foreach (Language item in ViewBag.Languages)
        {
            <button class="btn btn-info">
                <a href="?phraseTypeId=@ViewBag.phraseTypeId&languageId=@item.Id"> @item.OriginName</a>
               
            </button>
        }
</div>